In [7]:
import numpy as np 
import pandas as pd

In [2]:
Boston = pd.read_csv('~/Independent Study /Boston.csv')
Boston

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,7.88,11.9

In [3]:
Boston.columns

Index(['Unnamed: 0', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis',
       'rad', 'tax', 'ptratio', 'lstat', 'medv'],
      dtype='object')

(a) Based on this data set, provide an estimate for the population mean of medv. Call this estimate μˆ.

In [11]:
mu_hat = Boston['medv'].mean()
print(f"The estimate for the population mean of medv (μˆ) is: {mu_hat:.2f}")

The estimate for the population mean of medv (μˆ) is: 22.53

(b) Provide an estimate of the standard error of μˆ. Interpret this result.
Hint: We can compute the standard error of the sample mean by dividing the sample standard deviation by the square root of the number of observations.

In [12]:
# SE of the sample mean
n = len(Boston)
s = Boston['medv'].std()
SE_mu_hat = s / np.sqrt(n)

print(f"The standard error of μˆ is: {SE_mu_hat:.2f}")

The standard error of μˆ is: 0.41

(c) Now estimate the standard error of μˆ using the bootstrap. How does this compare to your answer from (b)?

In [16]:
def bootstrap_sample(data, num_samples):
    return np.random.choice(data, size=num_samples, replace=True)

# Number of bootstrap replications
num_replications = 10000

# Sample size
n = len(Boston['medv'])

# Generate bootstrap sample means
bootstrap_means = [bootstrap_sample(Boston['medv'], n).mean() for _ in range(num_replications)]

# Compute standard error from bootstrap samples
bootstrap_SE = np.std(bootstrap_means)

print(f"The bootstrap estimate of the standard error of μˆ is: {bootstrap_SE:.2f}")

The bootstrap estimate of the standard error of μˆ is: 0.41

* Since the SE for mu_hat and the bootstrap SE for mu_hat are both approximately 0.41, we can make the assumption that this data is independent and identically distributed.

(d) Based on your bootstrap estimate from (c), provide a 95 % con- fidence interval for the mean of medv. Compare it to the results obtained by using Boston['medv'].std() and the two standard error rule (3.9).
Hint: You can approximate a 95 % confidence interval using the formula [μˆ − 2SE(μˆ), μˆ + 2SE(μˆ)].

In [18]:
# Compute the sample mean of medv
mu_hat = Boston['medv'].mean()

# 95% Confidence Interval using Bootstrap SE
bootstrap_CI = (mu_hat - 2 * bootstrap_SE, mu_hat + 2 * bootstrap_SE)

# 95% Confidence Interval using two standard error rule
standard_SE = Boston['medv'].std() / np.sqrt(n)
standard_CI = (mu_hat - 2 * standard_SE, mu_hat + 2 * standard_SE)

print(f"95% Confidence Interval using Bootstrap: ({bootstrap_CI[0]:.3f}, {bootstrap_CI[1]:.3f})")
print(f"95% Confidence Interval using Two Standard Error Rule: ({standard_CI[0]:.3f}, {standard_CI[1]:.3f})")

95% Confidence Interval using Bootstrap: (21.710, 23.356)
95% Confidence Interval using Two Standard Error Rule: (21.715, 23.351)

(e) Based on this data set, provide an estimate, μˆmed, for the median value of medv in the population.

In [19]:
#sample median of medv
mu_med_hat = Boston['medv'].median()

print(f"The estimate for the population median of medv (μˆ_med) is: {mu_med_hat:.3f}")

The estimate for the population median of medv (μˆ_med) is: 21.200

(f) We now would like to estimate the standard error of μˆmed. Unfortunately, there is no simple formula for computing the standard error of the median. Instead, estimate the standard error of the median using the bootstrap. Comment on your findings.

In [21]:
# Generate bootstrap sample medians
bootstrap_medians = [np.median(bootstrap_sample(Boston['medv'], n)) for _ in range(num_replications)]

# Compute standard error from bootstrap samples for median
bootstrap_SE_median = np.std(bootstrap_medians)

print(f"The bootstrap estimate of the standard error of μˆ_med is: {bootstrap_SE_median:.3f}")

The bootstrap estimate of the standard error of μˆ_med is: 0.375

* Since bootstrap_SE_0_1 relatively small, this indicates that our estimate is somewhat stable

(g) Based on this data set, provide an estimate for the tenth per- centile of medv in Boston census tracts. Call this quantity μˆ0.1. (You can use the np.percentile() function.)

In [22]:
# Compute the tenth percentile of medv
mu_0_1_hat = np.percentile(Boston['medv'], 10)

print(f"The estimate for the tenth percentile of medv (μˆ0.1) is: {mu_0_1_hat:.3f}")

The estimate for the tenth percentile of medv (μˆ0.1) is: 12.750

(h) Use the bootstrap to estimate the standard error of μˆ0.1. Comment on your findings.

In [23]:
# Generate bootstrap sample tenth percentiles
bootstrap_tenth_percentiles = [np.percentile(bootstrap_sample(Boston['medv'], n), 10) for _ in range(num_replications)]

# Compute standard error from bootstrap samples for the tenth percentile
bootstrap_SE_0_1 = np.std(bootstrap_tenth_percentiles)

print(f"The bootstrap estimate of the standard error of μˆ0.1 is: {bootstrap_SE_0_1:.3f}")

The bootstrap estimate of the standard error of μˆ0.1 is: 0.495

* Since bootstrap_SE_0_1 relatively small, this indicates that our estimate is somewhat stable